@font-face {
	font-family: 'Akrobat-Black';
	src: url('../fonts/akrobat-black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-black.svg#akrobat-black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Akrobat-Bold';
	src: url('../fonts/akrobat-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-bold.svg#akrobat-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Akrobat-ExtraBold';
	src: url('../fonts/akrobat-extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-extrabold.svg#akrobat-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Akrobat-ExtraLight';
	src: url('../fonts/akrobat-extralight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-extralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-extralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-extralight.svg#akrobat-extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Akrobat-Light';
	src: url('../fonts/akrobat-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-light.svg#akrobat-light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Akrobat-Regular';
	src: url('../fonts/akrobat-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-regular.svg#akrobat-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Akrobat-SemiBold';
	src: url('../fonts/akrobat-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-semibold.svg#akrobat-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Akrobat-Thin';
	src: url('../fonts/akrobat-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-thin.svg#akrobat-thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

